<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <% book.forEach(book =>{ %>
       
            <img src="<%=book.img_url%>" alt="no" srcset=""> 
            <p><%=book.auther%></p>
            <p><%=book.title%></p>
            <p><%=book.description%></p>
            <a href="/details/<%=book.id%>"><input type="button" value="show in details"></a>
            <%});%>
        
    </section>
</body>
</html>